<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index.css">
    <title>FinTrack</title>
</head>
<body>
    <header>
        <div class="sidbar">
            <div class="top">
                <div class="user">
                    <div class="logo">
                        
                    </div>
                </div>
                <ul></ul>
            </div>
        </div>
    </header>
    <main>
        <p>&#127897;</p>
    </main>
    <footer></footer>
</body>
</html>